RK7Die/XSD/qryGetFunctions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="common.xsd"/>

    <xs:element name="RK7Query">
        <xs:annotation>
            <xs:documentation xml:lang="ru">[ВСЕ] Список поддерживаемых XML-функций </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="RK7CMD">
                    <xs:complexType>
                        <xs:attribute name="CMD" fixed="GetFunctions"/>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
