RK7Die/XSD/qryMenuOperation.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="MENUOPERATION">
		<xs:sequence>
			<xs:element name="DIALOGINFO" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation xml:lang="ru">результат выполнения диалога</xs:documentation>
					</xs:annotation>
	                <xs:attribute name="from" type="xs:string"/>
	                <xs:attribute name="to" type="xs:string"/>
				</xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="operationId" type="xs:string"/>
  </xs:complexType>
</xs:schema>

